if content['get']
  extends 'main.jade'

block content
  section.overviewSection(style="display: flex;align-items:center")
    .spacer(style='flex-grow:0.25')
    section.sensorOverview(style="display: flex;align-items:center;flex-direction:column")
      .ui.card.purple
        .content
          .header Gesamt
          .ui.three.column.grid
            .high.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta= content['ever_data']['high']['t']
              i.chevron.up.icon.green
              p(style='margin-top:5px')= content['ever_data']['high']['v']|string + content['sensor_unit']|string
            .difference.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .spacer(style="opacity:0") t
              i.resize.horizontal.icon
              p(style='margin-top:5px')= content['ever_data']['difference']|string
              //- content['sensor_unit']|string
            .low.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta= content['ever_data']['low']['t']
              i.chevron.down.icon.red
              p(style='margin-top:5px')= content['ever_data']['low']['v']|string + content['sensor_unit']|string
      .spacer(style='flex-grow:1')
      .ui.card.green
        .content
          .header= content['recent_data']['date']
          .ui.three.column.grid
            .high.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta= content['recent_data']['high']['t']
              i.chevron.up.icon.green
              p(style='margin-top:5px')= content['recent_data']['high']['v']|string + content['sensor_unit']|string
            .difference.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .spacer(style="opacity:0") t
              i.resize.horizontal.icon
              p(style='margin-top:5px')= content['recent_data']['difference']|string
              //- content['sensor_unit']|string
            .low.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta= content['recent_data']['low']['t']
              i.chevron.down.icon.red
              p(style='margin-top:5px')= content['recent_data']['low']['v']|string + content['sensor_unit']|string
    .spacer(style='flex-grow:0.5')
    .ui.segment.circular
      .doughnutInformation(style='height:290px;width:290px')
        #doughnutChart.chart
        script(type='text/javascript').
            $(function(){
              //- $("#doughnutChart").drawDoughnutChart([
              //-   { title: "Tokyo",         value : 12,  color: "#2C3E50" },
              //-   { title: "Tokyo",         value : 38,  color: "#000000" },
              //- ]);
              //- $("#doughnutChart").drawDoughnutChart(#{content['current_data']['value']}, !{content['sensor_range']}, !{content['sensor_color_ranges']});
            });
            $("#doughnutChart").drawDoughnutChart(#{content['current_data']['value']}, !{content['sensor_range']}, !{content['sensor_color_ranges']});
    .spacer(style='flex-grow:0.25')

  .ui.segment
    #graph(style='width:100%; height:350px')
      - var randomizer = ['data needs to be polished', 'some bits escaped, we\'re trying to catch them', 'cleaning data pipes!', 'it\'s not a bug, it\'s a feature!', 'your connection is too slow..', 'shaving beards', 'loading more than 1000 datasets, could you please be impressed... thank you', 'killing some bugs', 'trying to discuss if 1+1 is really 2 or rather 10', 'MARTA IS EVERYWHERE!', 'predicting into the future', 'washing dishes', 'helping parents', 'solving really hard equations', 'scrambling words', 'trying to be cool', 'getting sunglasses for data']
      .ui.active.inverted.dimmer
        .ui.text.loader= 'please wait... ' + content['random'].choice(randomizer)
    script(type='text/javascript').
      $(document).ready(function() {initLineGraph("#{content['current']}")});
